<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ella Payroll</title>
  <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css" />
  <link type="text/css" rel="stylesheet" href="/admin-lte/dist/css/AdminLTE.min.css" />
  <link type="text/css" rel="stylesheet" href="/admin-lte/dist/css/skins/_all-skins.min.css" />
  <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link type="text/css" rel="stylesheet" href="/toastr/build/toastr.min.css" />
  <link type="text/css" rel="stylesheet" href="/sweetalert/dist/sweetalert.css">
  <link type="text/css" rel="stylesheet" href="/styles.css">
</head>

<body class="<%- classNames %>">
  <div id="root"></div>
</body>

<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/toastr/build/toastr.min.js"></script>
<script type="text/javascript" src="/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="/adminlte.js"></script>
<script>
  var __page = '<%= page %>';
  toastr.options.preventDuplicates = true;
</script>
<script src="./script.min.js"></script>
</html>