<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Ella Payroll</title>
  <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css" />
  <link type="text/css" rel="stylesheet" href="/admin-lte/dist/css/AdminLTE.min.css" />
  <link type="text/css" rel="stylesheet" href="/admin-lte/dist/css/skins/_all-skins.min.css" />
  <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
</head>